# Specific files and directories to be ignored in the docker build process

# Git / metadata
.git
.gitignore

# Documentation / misc
README.md

# Docker build/run files
/docker
build_docker_motion_monitor.sh
start_motion_monitor_dev.sh
start_motion_monitor_latest.sh

# Tarballs
*.tar
*.tar.gz

# Python cache / temp files
__pycache__/
*.pyc
*.pyo
*.pyd

# OS / editor junk
.DS_Store
*.swp
*.swo

# Data directories


# Dev / test data directories

