SimpleITK

# Core numerics
numpy==1.26.0
scipy

# Medical imaging
nibabel
pydicom==2.4.3
pynetdicom==2.0.2
h5py==3.10.0
ismrmrd==1.14.0

# Data and plotting
pandas
pytz
matplotlib>=3.8.2

# Image CV
opencv-python

# External integrations
flywheel-sdk